.botao {
    background-color: orangered;
    color: white;
    border-radius: 12px;
    border: none;
    padding: 1em;
    cursor: pointer; /*mao no mouse*/
}
.verde {
    background-color: green;
}

.none {
    display: none;
}