.fonte{
    font-family: 'Poppins', sans-serif;
}
.tituloEstilo{
    font-size: 24px;
    color: cornflowerblue;
    font-weight: bold;
}
.paragrafoEstilo{
    color: blueviolet;
    font-size: 14px;
    display: inline-block;
    margin-right: 10px;
    font-weight: 400;

}
button{
    background-color:black;
    border: none;
    font-size: 30px;
    color: white;
    border-radius: 8px;
}
